// fade in animation for carousel slides
@-webkit-keyframes show-slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes show-slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
// slide and fade in animation on scroll
@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
// slide in from right nav menu for phones
@keyframes slide-in-from-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: none;
  }
}
