// Hero section media queries
@media screen and (max-width: $laptopMaxWidth) {
  .hero {
    .wrapper {
      position: absolute;
      top: -70px;

      .prev:before {
        font-family: 'FontAwesome';
        content: '\f104';
        font-size: 4rem;
        position: absolute;
        left: 30px;
        top: 50px;
      }

      .next:before {
        font-family: 'FontAwesome';
        content: '\f105';
        font-size: 4rem;
        position: absolute;
        right: 30px;
        top: 50px;
      }

      .carousel {
        h1,
        p {
          transform: scale(0.8, 0.8);
        }
      }
    }
  }
}
@media screen and (max-width: $tabletMaxWidth) {
  .hero {
    .wrapper {
      position: absolute;
      top: -100px;

      .prev:before {
        font-family: 'FontAwesome';
        content: '\f104';
        font-size: 3rem;
        position: absolute;
        left: 20px;
        top: 100px;
      }

      .next:before {
        font-family: 'FontAwesome';
        content: '\f105';
        font-size: 3rem;
        position: absolute;
        right: 20px;
        top: 100px;
      }

      .carousel {
        h1 {
          transform: scale(0.6, 0.6);
        }

        p {
          transform: scale(0.8, 0.8);
        }
      }
    }
  }
}
@media screen and (max-width: $mobileMaxWidth) {
  .hero {
    .wrapper {
      width: 100vw;

      span {
        .prev:before {
          font-family: 'FontAwesome';
          content: '\f104';
          font-size: 3rem;
          position: absolute;
          left: 100px;
          top: 100px;
        }

        .next:before {
          font-family: 'FontAwesome';
          content: '\f105';
          font-size: 3rem;
          position: absolute;
          right: 100px;
          top: 100px;
        }
      }

      .carousel {
        margin-top: -80px;

        h1 {
          transform: scale(0.4, 0.4);
          width: 100%;
          display: flex;
          justify-content: center;
        }

        p {
          transform: scale(0.7, 0.7);
        }

        .carousel-item {
          button {
            margin-top: -500px;
            margin-left: -25px;
          }
        }
      }
    }
  }
}
// What's new section media queries
@media screen and (max-width: $laptopMaxWidth) {
  .new {
    height: 750px;

    main {
      width: 60%;
    }

    aside {
      width: 40%;

      .box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 660px;
        width: 225px;
        margin-top: -60px;

        #last-img {
          visibility: hidden;
        }

        .music-cover {
          img {
            height: 225px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $tabletMaxWidth) {
  .new {
    position: relative;
    height: 1000px;

    main {
      width: 100%;
      display: block;
    }

    aside {
      width: 100%;
      height: 55%;
      position: absolute;
      bottom: -70px;
      left: 0;

      .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 400px;
        width: 400px;
        left: 22%;

        #last-img {
          visibility: visible;
        }

        .music-cover {
          height: 200px;
          width: 200px;

          img {
            height: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $mobileMaxWidth) {
  .new {
    height: 1100px;

    aside {
      .box {
        height: 320px;
        width: 320px;
        display: block;
        margin: 0 auto;
        left: 0;
        margin-top: 50px;

        .music-cover {
          height: 160px;
          width: 160px;

          img {
            height: 160px;
          }
        }
      }
    }
  }
}
// Features section media queries
@media screen and (max-width: $laptopMaxWidth) {
  .features {
    aside {
      width: 30%;

      .music-player {
        margin-left: -80px;
      }
    }

    main {
      width: 40%;
      padding: 50px 20px;

      p {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: $tabletMaxWidth) {
  .features {
    height: 550px;

    aside {
      display: none;
    }

    main {
      width: 90%;
      display: block;
      padding: 10px;
      margin-top: 20px;

      p {
        width: 100%;
      }
    }
  }
}
// Media section media queries
@media screen and (max-width: $laptopMaxWidth) {
  .media {
    main {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: -50px;
    }

    aside {
      position: static;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: $tabletMaxWidth) {
  .media {
    height: 650px;

    main {
      h1 {
        font-size: 2rem;
      }
    }

    aside {
      img {
        max-width: 100%;
      }
    }
  }
}
// Pricing section media queries
@media screen and (max-width: $laptopMaxWidth) {
  .pricing {
    .card-wrapper {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      .card {
        margin-left: 20px;
      }
    }
  }
}
@media screen and (max-width: $tabletMaxWidth) {
  .pricing {
    height: 1300px;

    .card-wrapper {
      width: 90%;
      display: block;
      margin-left: 10px;

      .card {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: $mobileMaxWidth) {
  .pricing {
    height: 1350px;

    .card-wrapper {
      width: 90%;
      display: block;
      margin-left: 0;

      .card {
        width: 100%;
      }
    }
  }
}