$fontMain: Circular, Helvetica, Arial, sans-serif;
$fontBlack: #222326;
$white: #fff;
$green: #1db954;
$headerBlack: rgba(0, 0, 0, 0.6);
$silver: #c1c3c6;
$grey: #919496;
// For media queries
$laptopMaxWidth: 980px;
$tabletMaxWidth: 768px;
$mobileMaxWidth: 640px;