@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "reset";
@import "variables";
@import "animations";
@import "mixins";
@import "header";
@import "content";
@import "footer";

body,
html {
  font-family: $fontMain;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 600;
}

h5 {
  font-size: 0.9rem;
  font-weight: 600;
}

p {
  line-height: 1.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $green;
    transition: 0.3s ease-in-out;
  }
}

button {
  text-transform: uppercase;
  border-radius: 999px;
  background: $green;
  color: $white;
  text-align: center;
  padding: 15px 50px;
  font-size: 0.9em;
  font-weight: 600;
  width: 100%;
  margin-top: 20px;

  &:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}