@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "reset";
@import "variables";
@import "mixins";
@import "header";
@import "content";
@import "footer";

body,
html {
  font-family: $fontMain;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 600;
}

h5 {
  font-size: 0.9rem;
  font-weight: 600;
}

p {
  line-height: 1.8rem;
  font-weight: 500;
}